@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	outline: 1px solid red;
}
body {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

/* .navbox {
	display: flex;
	justify-content: center;
	background-color: aqua;
} */

/* .logo {
	display: flex;
	justify-content: flex-start;
	background-color: aqua;
} */

/* ul li {
	display: inline-flex;
	width: auto;
	right: inherit;
	align-items: right;
} */

/* .navbox.right {
	margin-left: auto;
} */
