h1 {
  text-align: center;
}

.quote-text {
  text-align: center;
  flex-wrap: wrap;
}

.hero,
footer,
header {
  background-color: #1f2937;
}

.hero-text {
  size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}
